<div class="alert alert-dismissible custom-alert" id="registerMessage" [style.display]="showRegisterMessage == false ? 'none' : 'block'">
    <strong>{{ registermessage }}</strong>
</div>
<form class="form-horizontal registerform-style col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
    <fieldset>
        <legend>Enter your name and select room</legend>
        <div class="form-group">
            <label for="nickName" class="control-label">Nick Name</label>
            <div>
                <input type="text" class="form-control" id="nickName" [(ngModel)]="nickName" placeholder="Nick Name">
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="control-label">Room</label>
            <div>
                <select class="form-control" id="select" [(ngModel)]="room">
                    <option></option>
                    <option *ngFor="let r of rooms">{{ r }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Create Room</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="newRoom">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="CreateRoom()">create</button>
            </span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="button" [disabled]="!nickName || !room" (click)="onSubmit()" class="btn btn-primary">Submit</button>

            </div>
        </div>
    </fieldset>
</form>