<div class="container">
    <div class="row">
        <form [style.display] = "isUserExist == true ? 'none': 'block'">
            <div class="form-group">
                <label for="nickname" class="col-lg-2 control-label">Nickname</label>
                <div class="col-lg-10">
                    <input type="text" [(ngModel)] = "nickname" class="form-control" id="nickname" placeholder="nickname">
                </div>
            </div>
            <button type="button" (click) = registerUser(nickname) class="btn btn-primary">Submit</button>
        </form>
        <div class="col-md-5 col-md-offset-2 chatbox-style">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                    <div class="panel-body" style="height: 400px">
                        <ul class="chat">
                            <div [style.display]="allmessages.length == 0 ? 'none' : 'block'" *ngFor="let message of allmessages">
                            <li [style.display]="currentUser.nickName==message.user.nickName ? 'block':'none'" class="right clearfix" ><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                        <strong class="pull-right primary-font">{{ message.user.nickName }}</strong>
                                    </div>
                                    <p>
                                        {{ message.message }}
                                    </p>
                                </div>
                            </li>
                                <li [style.display]="currentUser.nickName==message.user.nickName ? 'none':'block'" class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=YOU" alt="User Avatar" class="img-circle" />
                        </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">{{ message.user.nickName }}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                        </div>
                                        <p>
                                            {{ message.message }}
                                        </p>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="userMessage"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessage(userMessage)" [disabled]="!userMessage">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
